################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task3/obj
/Task3/bin/
/Task3/.vs
